*.pyc
__pycache__/
.venv/
.env
research_archives/
metrics.txt
*.pth
EMA/
data/
superresolution/
*.zip
MSTbic_Project_Archive/
SSIU/
datasets/
*.pdf
*.Identifier
*.bmp
*.png
*.jpg
!final_improved_ssiu_project.pth
